{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                SignUp!
            </div>
        </div>
        <div class="container">
            <form action="{% url 'users:signup' %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label for="username">Username : </label>
                    {{form.username}}
                </div>
                <div class="field">
                    <label for="password1">Enter Password : </label>
                    {{form.password1}}
                </div>
                <div class="field">
                    <label for="password2">Confirm Password : </label>
                    {{form.password2}}
                </div>
                <div class="field">
                    <label for="group">Chose your group : </label>
                    {{form.group}}
                </div>
                <button type="submit" class="btn btn-primary">Register!</button>
                <a href="{% url 'users:home' %}"><button type="button" class="btn btn-primary">Back</button></a>
            </form>
        </div>
    </div>
</body>
</html>