{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <center><h1>SignIn!</h1></center>
            </div>
        </div>
        <div class="container">
            <center>
            Group A : Users can ammend and view the api.<br>
            Group B : Users can only view the api.<br>
            NOTE : superusers are naturally granted group A access<br>
            <br><br>

            </center>
        </div>
        <div class="container">
            <form action="{% url 'users:signin' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">LogIn!</button>
                <a href="{% url 'users:home' %}"><button type="button" class="btn btn-primary">Back</button></a>
            </form>
        </div>
    </div>
</body>
</html>